@font-face{
  font-family: 'Super Mario 256' ;
  src:url(./font/SuperMario256.ttf)
}
@font-face {
  font-family: 'Super Mario Bros';
  src: url(./font/SuperMarioBrosWii.otf);
}
.App{
  background-color: #BE2801;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
}


